// 编译参数，vue开发需要babel编译
{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  // "plugins": ["transform-vue-jsx", "transform-runtime"]
  // vant快速上手，介绍到，方式一. 自动按需引入组件 (推荐)
  // babel-plugin-import 是一款 babel 插件，它会在编译过程中将 import 的写法自动转换为按需引入的方式
  // # 安装插件： npm i babel-plugin-import -D
  // 在.babelrc 中添加配置
  // 注意：webpack 1 无需设置 libraryDirectory
  "plugins": [
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }]
  ]
}


